
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

h1 {
    color: #4CAF50;
    text-align: center;
}


#about {
    background-color: white;
    padding: 10px;
    margin: 20px;
    border: 1px solid #ddd;
}


img {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 10px auto;
}


.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}
